@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600&display=swap");
*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	scroll-behavior: smooth;
	font-family: "Poppins", sans-serif;
	transition: 0.2s;
}

:root {
	--mainColor: #f2e6d6;
	--primaryTextColor: #474747;
	--hoverColor: #d4bb9a;
}

.postCard {
	border: 1px solid var(--primaryTextColor);
	border-radius: 5px;
	width: 80%;
	padding: 20px 30px;
	display: flex;
	flex-direction: column;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.postCardHeaders {
	display: flex;
	margin-bottom: 15px;
}

.postAvatar {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	overflow: hidden;
	margin-right: 15px;
}

.postAvatar img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.postTextDesc {
	margin-bottom: 15px;
}

.postCard .postInfo {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.postTextDesc .readMore,
.postTextDesc .showLess {
	color: rgb(103, 103, 214);
	cursor: pointer;
}

.postTextDesc .readMore:hover,
.postTextDesc .showLess:hover {
	text-decoration: underline;
}

.comPostImg {
	max-width: 100%;
	max-height: 400px;
	overflow: hidden;
	display: flex;
	align-self: center;
}

.comPostImg img {
	width: 100%;
	height: auto;
	object-fit: contain;
	cursor: pointer;
}
@media screen and (max-width: 600px) {
	.postCard .postInfo .datePosted {
		font-size: 12px;
	}
}
