/* Modal content container */
.modal-content {
	background: white;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
	max-width: 500px;
	width: 90%;
	text-align: center;
	position: fixed; /* Fixed to the screen */
	top: 0%; /* Vertically center the modal */
	left: 50%; /* Horizontally center the modal */
	transform: translate(
		-50%,
		-50%
	); /* Offset the modal to ensure perfect centering */
	transition: transform 0.5s ease;
	background-color: #f2e6d6;
	z-index: 1000; /* Ensure the modal appears above other content */
}

/* Slide-in animation */
.modal-content.slide-in {
	transform: translate(-50%, 50%); /* Centered position */
}

/* Slide-out animation */
.modal-content.slide-out {
	transform: translate(-50%, -1200%); /* Slide out upwards */
}

/* Close button */
.close-button {
	position: absolute;
	top: 10px;
	right: 10px;
	background: none;
	border: none;
	font-size: 24px;
	cursor: pointer;
}

/* Countdown Timer Styling */
.countdown-timer {
	font-size: 14px;
	margin-top: 15px;
	font-weight: bold;
	color: #474747;
}

/* Responsive styles */
@media (max-width: 600px) {
	.modal-content {
		max-width: 90%;
		padding: 15px;
	}

	.close-button {
		font-size: 20px;
	}

	h2 {
		font-size: 20px;
	}

	.countdown-timer {
		font-size: 14px;
	}
}
