@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600&display=swap");

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	scroll-behavior: smooth;
	font-family: "Poppins", sans-serif;
	transition: 0.2s;
}

:root {
	--mainColor: #f2e6d6;
	--primaryTextColor: #474747;
}

.adminPetPreview {
	display: flex;
	height: 100vh;
}

.adminPetPreview .sidebarComp {
	min-width: 20%;
	height: 100%;
}

.adminPetPreview .mainContent {
	flex: 1;
	padding: 0 5%;
	overflow-x: hidden;
}

.adminPetPreview .mainContent .divider {
	width: 100%;
	display: flex;
	gap: 20px;
	margin: 60px 0;
}

.adminPetPreview .mainContent .petInfoCont,
.petImagesContainer {
	width: 50%;
}

.adminPetPreview .mainContent .petInfoCont,
.petImagesContainer {
	border: 1px solid rgb(211, 211, 211);
	border-radius: 7px;
	padding: 30px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.adminPetPreview .mainContent .petInfoCont .allPetInfo {
	display: flex;
	flex-direction: column;
	width: 100%;
	font-size: 14px;
	gap: 20px;
}

.adminPetPreview .mainContent .petInfoCont .allPetInfo .infoCont {
	width: 100%;
	display: flex;
	gap: 20px;
	align-items: center;
}

.adminPetPreview .mainContent .petInfoCont .allPetInfo .infoCont h3 {
	font-size: 20px;
	width: 50%;
	display: flex;
	align-items: center;
	gap: 5px;
}

.adminPetPreview .mainContent .petInfoCont .allPetInfo .infoCont input {
	border: 1px solid rgb(211, 211, 211);
	border-radius: 7px;
	padding: 7px 10px;
}

.adminPetPreview .mainContent .petInfoCont .allPetInfo .infoCont .infoSet {
	display: flex;
	flex-direction: column;
	width: 50%;
	justify-content: center;
	position: relative;
}

.adminPetPreview
	.mainContent
	.petInfoCont
	.allPetInfo
	.infoCont
	.infoSet
	.dropdownHeader {
	border: 1px solid rgb(211, 211, 211);
	border-radius: 7px;
	padding: 7px 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
	position: relative;
	font-size: 14px;
}

.adminPetPreview
	.mainContent
	.petInfoCont
	.allPetInfo
	.infoCont
	.infoSet
	.Dropdown {
	position: absolute;
	width: 100%;
	border: 1px solid rgb(211, 211, 211);
	border-radius: 7px;
	top: 100%;
	z-index: 1000;
	background-color: white;
	padding: 7px 10px;
	display: flex;
	flex-direction: column;
}

.adminPetPreview
	.mainContent
	.petInfoCont
	.allPetInfo
	.infoCont
	.infoSet
	.Dropdown
	li {
	border-radius: 7px;
	cursor: pointer;
	padding: 5px 10px;
}

.adminPetPreview
	.mainContent
	.petInfoCont
	.allPetInfo
	.infoCont
	.infoSet
	.Dropdown
	li:hover {
	background-color: rgb(218, 218, 218);
}

.adminPetPreview
	.mainContent
	.petInfoCont
	.allPetInfo
	.infoCont
	.infoSet
	.dropdownHeader:hover {
	background-color: rgb(218, 218, 218);
}

/* textareas */

.adminPetPreview .mainContent .petInfoCont .textAreaConts {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.adminPetPreview .mainContent .petInfoCont .textAreaConts .TA-set {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.adminPetPreview .mainContent .petInfoCont .textAreaConts .TA-set textarea {
	resize: none;
	height: 80px;
}

.adminPetPreview .mainContent .petInfoCont .textAreaConts .TA-set .charCount {
	font-size: 10px;
	margin-top: -10px;
}

.adminPetPreview .mainContent .petInfoCont .saveChanges {
	width: 100%;
	background-color: var(--primaryTextColor);
	color: white;
	border: 1px solid rgb(211, 211, 211);
	border-radius: 7px;
	height: 30px;
	cursor: pointer;
}

.adminPetPreview .mainContent .petInfoCont .saveChanges:hover {
	background-color: rgb(82, 82, 82);
}

/* petImagesContainer */

.adminPetPreview .mainContent .petImagesContainer {
	margin-bottom: auto;
}

.adminPetPreview .mainContent .petImagesContainer .petImgBox {
	width: 100%;
	border: 7px;
	border: 1px solid rgb(211, 211, 211);
	display: flex;
	flex-wrap: wrap;
	border-radius: 7px;
	justify-content: space-evenly;
}

.adminPetPreview .mainContent .petImagesContainer .petImgBox .img-container {
	width: 100px;
	height: 100px;
	border-radius: 7px;
	overflow: hidden;
	padding: 10px;
	position: relative;
}

.adminPetPreview
	.mainContent
	.petImagesContainer
	.petImgBox
	.img-container
	.closeIcon {
	position: absolute;
	right: 5px;
	cursor: pointer;
}

.adminPetPreview
	.mainContent
	.petImagesContainer
	.petImgBox
	.img-container
	.closeIcon:hover {
	transform: scale(1.02);
}

.adminPetPreview
	.mainContent
	.petImagesContainer
	.petImgBox
	.img-container
	img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 7px;
	cursor: pointer;
}

.adminPetPreview
	.mainContent
	.petImagesContainer
	.petImgBox
	.img-container
	img:hover {
	transform: scale(1.02);
}

.adminPetPreview .mainContent .petImagesContainer button {
	width: 100%;
	background-color: var(--primaryTextColor);
	color: white;
	border: 1px solid rgb(211, 211, 211);
	border-radius: 7px;
	height: 30px;
	cursor: pointer;
}

.adminPetPreview .mainContent .petImagesContainer button:hover {
	background-color: rgb(82, 82, 82);
}
.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9999; /* Ensures the overlay is on top */
}

.loading-content {
	text-align: center;
}

.loading-spinner {
	width: 100px;
	height: 50px;
	margin-bottom: 10px; /* Space between spinner and label */
}

.loading-label {
	color: white;
	font-size: 18px;
	font-weight: bold;
}

input[readonly] {
	cursor: default;
}
@media (max-width: 768px) {
	.adminPetPreview .mainContent .divider {
		flex-direction: column;
	}

	.adminPetPreview .mainContent .petInfoCont,
	.adminPetPreview .mainContent .petImagesContainer {
		width: 100%;
	}
}
