@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600&display=swap");
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
    transition: 0.2s;
}

:root {
    --mainColor: #f2e6d6;
    --primaryTextColor: #474747;
    --hoverColor: #d4bb9a;
}

.forgotPasswordPage {
    padding-top: 80px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.forgotPasswordContainer {
    width: 500px;
    margin: 10% 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forgotPasswordPage h2 {
    text-align: center;
    font-size: 1.875rem;
}

.forgotPasswordPage p {
    font-size: 0.813rem;
    text-align: center;
    margin-bottom: 30px;
}

.forgotPasswordPage input {
    width: 100%;
    border: 1px solid rgb(167, 167, 167);
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 0.813rem;
    margin-bottom: 10px;
}

.forgotPasswordPage button {
    height: 40px;
    width: 100%;
    padding: 7px 20px;
    margin: 15px 0;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #474747;
    align-self: flex-end;
    cursor: pointer;
}

.forgotPasswordPage button:hover {
    background-color: #5f5f5f;
}
