@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600&display=swap");
*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	scroll-behavior: smooth;
	font-family: "Poppins", sans-serif;
	transition: 0.2s;
}

:root {
	--mainColor: #f2e6d6;
	--primaryTextColor: #474747;
	--hoverColor: #d4bb9a;
}

.petPreview {
	padding-top: 80px;
	display: flex;
}

.petImgSec {
	padding-top: 40px;
	width: 60%;
	height: calc(100vh - 80px);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.selectedImgContainer {
	width: 70%;
	height: 60%;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.selectedImgContainer img,
.imgBoxes img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.petImgCollection {
	margin-top: 40px;
	padding: 10px;
	height: 20%;
	width: 80%;
	border-radius: 5px;
	overflow-x: auto;
	display: flex;
	scroll-behavior: smooth;
	justify-content: center;
	gap: 10px;
	-webkit-overflow-scrolling: touch;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.imgBoxes {
	flex-shrink: 0;
	height: 100%;
	min-width: 20%;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
	border-radius: 5px;
	cursor: pointer;
	overflow: hidden;
}

.imgBoxes:hover {
	transform: scale(1.02);
}

.petInfoContainer {
	flex: 1;
}

.petInfoContainer {
	padding: 25px 0;
	padding-right: 5%;
	display: flex;
	flex-direction: column;
	color: var(--primaryTextColor);
}

.petInfoContainer h1 {
	text-align: center;
	font-size: 4.063rem;
	text-transform: uppercase;
	font-weight: 600;
}

.petInfoList {
	display: flex;
	flex-direction: column;
	gap: 15px;
	font-size: 15px;
	margin-top: 30px;
}

.petInfoList h2 {
	font-weight: 500;
	align-self: center;
}

.petInfoList h3 {
	font-size: 1.063rem;
	font-weight: 400;
}

.petDescriptionInfo {
	line-height: 2;
	margin-top: 10px;
	text-align: justify;
	font-size: 1rem !important;
}

.adoptionInqBtn {
	margin-top: 30px;
	border: none;
	border-radius: 5px;
	font-size: 0.938rem;
	width: 60%;
	align-self: center;
	height: 50px;
	color: var(--primaryTextColor);
	background-color: var(--mainColor);
	cursor: pointer;
	align-self: center;
	box-shadow: -8px 8px 10px -4px rgba(201, 181, 155, 0.8);
}

.adoptionInqBtn:hover {
	background-color: #d4bb9a;
}

@media screen and (max-width: 960px) {
	.petPreview {
		flex-direction: column;
	}

	.petImgSec {
		width: 100%;
	}

	.petInfoContainer {
		padding: 0 10%;
		padding-bottom: 10%;
	}
}
